<table>
    <tr>
        <td><img width="600" height="400" src="@Url.Action("CustomChart")" /> </td>
        <td> <img width="600" height="400" src="@Url.Action("FundsInventoryChart")" /></td>
    </tr>
    <tr>
        <td> <img width="600" height="400" src="@Url.Action("LocationChart")" /></td>
        <td> <img width="600" height="400" src="@Url.Action("ProjEmployeeChart")" /></td>
    </tr>
</table>

