@if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
}
else
{
    <ul class="nav">
        <li data-ng-class="{active : activeViewPath==='/Login'}"><a href='../Account/Login'>Login</a></li>
        <li data-ng-class="{active : activeViewPath==='/Register'}"><a href='../Account/Register'>Register</a></li>
    </ul>
    }
