<table width="100%" height="100%">
    <tr>
        <td><img src="@Url.Action("CustomChart")" /> </td>
        <td> <img src="@Url.Action("FundsInventoryChart")" /></td>
    </tr>
    <tr>
        <td> <img src="@Url.Action("LocationChart")" /></td>
        <td> <img src="@Url.Action("ProjEmployeeChart")" /></td>
    </tr>
</table>

